//TYPOGRAFY

//TYPERFACES
//--ROBOTO--
$roboto:'Roboto', sans-serif;
//--PLAYFAIR--
$playfair:'Playfair Display', serif;

//FONTS WEIGHT
$light:200;
$regular:400;
$black:800;

//FONTS SIZE 
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small : 12px;
