//COLOR SCHEME
/*COLOR SCHEMES FOR BLOG BARBERSHOP*/
/*FIST COLOR SCHEME*/
//FIRST COLOR SCHEME
$white: #fff;
$platinium: #e6e7e7;
$light-gray: #d1d1d1;
/*SECOND COLOR SCHEME*/
//SECOND COLOR SCHEME
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
/*THIRD COLOR SCHEME*/
// THIRD COLOR SCHEME
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;
