//START PAGINATION
.pagination-bg{
    background-color: $light-gray;
}
.pagination{
    justify-content: center;
    padding: 3.5rem 0;
}
// END PAGINATION
/*
Se cambiaron desde el archivo _pagination de bootstrap colores de borde, color de texto y estados del botones en active, hover etc... 
*/