//PROFILE START 
.author {
  border-top: 2px solid $light-gray;
  &__img {
    width: 10rem;
    border-radius: 50%;
  }
  &__name {
    font-family: $playfair;
    font-size: $x-large;
    font-weight: $black;
    font-style: italic;
  }
  &__text {
    font-family: $roboto;
    line-height: 1.5rem;
    text-align: justify;
  }
}
//PROFILE END
