.author{
    border-top: 2px solid $light-gray;
    &__img{
        width: 10rem;
        border-radius: 50%;
    }
    &__name{
        font-family: $playfair;
        font-size: $x-large;
        font-weight: $black;
        font-style: italic;
    }
    &__link{
        font-family: $roboto;
        color: $ruddy-pink;
        text-decoration: none;
        font-size: $medium;
        font-weight: $light;
        transition: all 200ms ease;
        margin-top: 0.5rem;

        &:hover{
            color:$fuzzy-wuzzy;
        }
    }
    &__text{
        font-family: $roboto;
        line-height: 1.5rem;
    }
}